<h1
  style="text-align: center; font-weight: bold; font-size:3vw; color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;"
>
  Addition
</h1>
<form class="form" mat-dialog-content [formGroup]="additionForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-field">
    <input
      type="text"
      formControlName="english"
      matInput
      placeholder="English"
    />
  </mat-form-field>
  <mat-divider></mat-divider>
  <div
    formArrayName="details"
    *ngFor="let details of formData.controls; let i = index"
  >
    <div [formGroupName]="i" class="details">
      <mat-form-field class="form-field">
        <input
          type="text"
          formControlName="hungarian"
          matInput
          placeholder="Hungarian"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select
          type="text"
          formControlName="partsOfSpeech"
          placeholder="Parts of Speech"
        >
          <mat-option value="noun">noun</mat-option>
          <mat-option value="pronoun">pronoun</mat-option>
          <mat-option value="adjective">adjective</mat-option>
          <mat-option value="verb">verb</mat-option>
          <mat-option value="adverb">adverb</mat-option>
          <mat-option value="preposition">preposition</mat-option>
          <mat-option value="conjunction">conjunction</mat-option>
          <mat-option value="interjection">interjection</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          type="text"
          formControlName="synonym"
          matInput
          placeholder="Synonym"
        />
      </mat-form-field>
      <mat-form-field class="form-field">
        <input
          type="text"
          formControlName="example"
          matInput
          placeholder="Example"
        />
      </mat-form-field>
      <div *ngIf="!additionForm.valid && additionForm.touched" class="error">
        Please please fill the form with valid data!
      </div>
    </div>
    <mat-divider
      *ngIf="formData.controls.length > 1"
    ></mat-divider>
  </div>

  <div class="button">
    <button
      mat-icon-button
      color="primary"
      matTooltip="Add more details"
      (click)="addDetails()"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      color="warn"
      *ngIf="formData.controls.length > 1"
      matTooltip="Remove details"
      (click)="removeDetails()"
    >
      <mat-icon>remove</mat-icon>
    </button>
  </div>

  <button
    class="addButton"
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="!additionForm.valid"
    matTooltip="Add form values to the database"
  >
    Add
  </button>
</form>
