.form {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 400px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.form-field {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.addButton {
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
}

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
