.container {
    text-align: center;
}

.text {
  font-weight: bold;
  font-size: 50px;
  padding: 20px;
}

.gif {
  height: 400px;
  width: 500px;
  margin: auto;
  background-image: url("/assets/page_not_found.gif");
  background-repeat: no-repeat;
  background-size: auto;
}
